<footer class="fw-bold bg-white text-secondary text-start">
    <div class="row d-flex align-items-center">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <div class="d-block">
                <img width="50" src="https://landing-vendas.s3.amazonaws.com/landing-fria/Walkr-Fundo-Transparente.png"
                    alt="walkr-transparent.png">
                <br>
                <span>&COPY; 2022 Walkr - 41.3339.465/0001-59</span>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center gap-3">
            <a target="_blank" href="https://www.instagram.com/walkr.app/">
                <img class="ms-2" width="20" height="20"
                    src="https://landing-vendas.s3.amazonaws.com/landing-fria/icons/INSTAGRAM.svg" alt="INSTAGRAM.svg">
            </a>
            <a target="_blank" href="https://br.linkedin.com/company/walkr-app">
                <img class="ms-2" width="20" height="20"
                    src="https://landing-vendas.s3.amazonaws.com/landing-fria/icons/LINKEDIN.svg" alt="LINKEDIN.svg">
            </a>
            <a target="_blank" href="https://walkr.app/">
                <img class="ms-2" width="20" height="20"
                    src="https://landing-vendas.s3.amazonaws.com/landing-fria/icons/WEBSITE.svg" alt="WEBSITE.svg">
            </a>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img width="50" src="https://landing-vendas.s3.amazonaws.com/landing-fria/icons/selo-growth.svg"
                alt="selo-growth.svg">
        </div>
    </div>
</footer>

</body>

</html>