<footer class="fw-bold bg-gray text-secondary pb-2">
    <div class="container-fluid">
        <div class="row d-flex">
            <div
                class=" col-md-4 col-sm-6 d-flex flex-column justify-content-center align-items-md-start align-items-center ps-4 mt-3">
                <img class="mobile" width="120" src="https://landing-vendas.s3.amazonaws.com/landing-fria/onevalue.svg"
                    alt="onevalue.svg">
                <span class="font-small text-blue fw-normal">Todos os direitos reservados</span>
                <span class="font-small text-blue fw-normal">2022 Walkr - 41.3339.465/0001-59</span>
                <a href="https://walkr.app" target="_blank"
                    class="text-blue fw-normal text-decoration-none">www.walkr.app</a>
            </div>
            <div
                class=" col-md-4 col-sm-6 d-flex flex-column justify-content-center  align-items-md-start align-items-center mt-3">
                <span class="font-small text-blue fw-bold mb-2">Tem algum dúvida?</span>
                <span class="font-small text-blue fw-normal mb-3">Fale conosco pelo email:
                    <a class="text-blue fw-normal text-decoration-none"
                        href="mailto:curso@walkr.app">curso@walkr.app</a>
                </span>
                <button class="btn btn-green text-white">
                    <img src="https://landing-vendas.s3.amazonaws.com/landing-fria/icons/whats.svg" alt="whats.svg">
                    Falar no Whatsapp
                </button>
            </div>
            <div class="mobile col-md-4 d-md-flex d-none flex-column justify-content-center align-items-center">
                <div class="d-flex w-100 justify-content-between">
                    <span class="font-small text-blue fw-bold mb-2">Como vou receber <br> esse conteúdo?</span>
                    <img class="mt-m2" width="50"
                        src="https://landing-vendas.s3.amazonaws.com/landing-fria/icons/selo-growth.svg"
                        alt="selo-growth.svg">
                </div>
                <span class="font-small text-blue fw-normal mb-3">
                    O conteúdo é digital e será liberado pelo
                    seu email assim que o
                    pagamento for confirmado.</span>
            </div>
        </div>
    </div>
</footer>

</body>

</html>