<section class="bg-gray pt-5 pb-5">
    <div class="container">
        <h1 class="text-center text-dark-blue fw-bold mb-5 ">Ao que exatamente você vai ter acesso?</h1>

        <div class="mt-4 bg-white h-md-150 d-flex flex-md-row flex-column justify-content-center align-items-center justify-content-md-start text-dark-blue rounded p-1">
            <img width="50" class="ms-4 img-fluid img-access-mobile" src="https://landing-vendas.s3.amazonaws.com/landing-fria/icons/money-icon.svg" alt="money-icon.svg">
            <div class="ms-4 d-flex flex-column justify-content-center gap-3">
                <h4 class="fw-bold subtitle-mobile">1 ano de acesso a todo o conteúdo e dúvidas na plataforma</h4>
                <p class="text-mobile">Para consultar onde e quando quiser, eu vou liberar seu acesso durante 1 ano para assistir, de forma
                    ilimitada, todo o conteúdo e acessar os materiais de apoio que serão disponibilizados, além das
                    possíveis atualizações no treinamento.
                </p>
            </div>
        </div>
        <div class="mt-4 bg-white h-md-150 d-flex flex-md-row flex-column justify-content-center align-items-center justify-content-md-start text-dark-blue rounded p-1">
            <img width="50" class="ms-4 img-fluid img-access-mobile" src="https://landing-vendas.s3.amazonaws.com/landing-fria/icons/telegram-icon.svg" alt="telegram-icon.svg">
            <div class="ms-4 d-flex flex-column justify-content-center gap-3">
                <h4 class="fw-bold">Comunidade de alunos no Telegram</h4>
                <p class="text-mobile">Em nosso canal do Telegram, eu vou compartilhar insights e novos testes que eu apliquei e
                    funcionaram. Essa também vai ser uma comunidade de trocas entre os alunos e tira-dúvidas durante seu
                    processo de implementação.
                </p>
            </div>
        </div>
        <div class="mt-4 bg-white h-md-150 d-flex flex-md-row flex-column justify-content-center align-items-center justify-content-md-start text-dark-blue rounded p-1">
            <img width="50" class="ms-4 img-fluid img-access-mobile" src="https://landing-vendas.s3.amazonaws.com/landing-fria/icons/coin-icon.svg" alt="coin-icon.svg">
            <div class="ms-4 d-flex flex-column justify-content-center gap-3">
                <h4 class="fw-bold">Planilhas, guias e materiais práticos</h4>
                <p class="text-mobile">Resumos em PDF, planilhas e guias práticos para te ajudar a implementar todos os processos.
                </p>
            </div>
        </div>
        <div class="mt-4 bg-white h-md-150 d-flex flex-md-row flex-column justify-content-center align-items-center justify-content-md-start text-dark-blue rounded p-1">
            <img width="50" class="ms-4 img-fluid img-access-mobile" src="https://landing-vendas.s3.amazonaws.com/landing-fria/icons/walkr-w.svg" alt="walkr-w.svg">
            <div class="ms-4 d-flex flex-column justify-content-center gap-3">
                <h4 class="fw-bold">Seu projeto na prática com o aplicativo Walkr</h4>
                <p class="text-mobile">Muito mais que um organizador orçamentário, com Walkr você vai construir seu projeto de vida na
                    prática. </p>
            </div>
        </div>
    </div>
</section>