<section class="bg-gray pt-5 pb-5">
    <div class="container">
        <h2 class="display-5 text-center text-dark-blue fw-bold mt-5 mb-5 pb-5">Ao que exatamente você vai ter acesso?</h2>

        <div class="mt-4 bg-white d-flex text-dark-blue rounded p-3">
            <img class="img-fluid" src="https://landing-vendas.s3.amazonaws.com/landing-fria/icons/money-icon.svg" alt="money-icon.svg">
            <div class="ms-4 d-flex flex-column justify-content-center gap-3">
                <h4 class="fw-bold">1 ano de acesso a todo o conteúdo e dúvidas na plataforma</h4>
                <p>Para consultar onde e quando quiser, eu vou liberar seu acesso durante 1 ano para assistir, de forma
                    ilimitada, todo o conteúdo e acessar os materiais de apoio que serão disponibilizados, além das
                    possíveis atualizações no treinamento.
                </p>
            </div>
        </div>
        <div class="mt-4 bg-white d-flex text-dark-blue rounded p-3">
            <img class="img-fluid" src="https://landing-vendas.s3.amazonaws.com/landing-fria/icons/telegram-icon.svg" alt="telegram-icon.svg">
            <div class="ms-4 d-flex flex-column justify-content-center gap-3">
                <h4 class="fw-bold">Comunidade de alunos no Telegram</h4>
                <p>Em nosso canal do Telegram, eu vou compartilhar insights e novos testes que eu apliquei e
                    funcionaram. Essa também vai ser uma comunidade de trocas entre os alunos e tira-dúvidas durante seu
                    processo de implementação.
                </p>
            </div>
        </div>
        <div class="mt-4 bg-white d-flex text-dark-blue rounded p-3">
            <img class="img-fluid" src="https://landing-vendas.s3.amazonaws.com/landing-fria/icons/coin-icon.svg" alt="coin-icon.svg">
            <div class="ms-4 d-flex flex-column justify-content-center gap-3">
                <h4 class="fw-bold">Planilhas, guias e materiais práticos</h4>
                <p>Resumos em PDF, Planilhas e guias práticos para te ajudar a implementar todos os processos.
                </p>
            </div>
        </div>
        <div class="mt-4 bg-white d-flex text-dark-blue rounded p-3">
            <img class="img-fluid" src="https://landing-vendas.s3.amazonaws.com/landing-fria/icons/walkr-w.svg" alt="walkr-w.svg">
            <div class="ms-4 d-flex flex-column justify-content-center gap-3">
                <h4 class="fw-bold">Seu projeto na prática com o aplicativo Walkr</h4>
                <p>Muito mais que um organizador orçamentário, com Walkr você vai construir seu projeto de vida na
                    prática. </p>
            </div>
        </div>
    </div>
</section>