<section class="bg-app text-white pt-5 pb-5">
    <div class="row mt-5 mb-5">
        <div class="col-md-1"></div>
        <div class="col-md-4"></div>
        <div class="col-md-6">
            <h1 class="ls display-1 fw-bold text-green text-end">APLICATIVO WALKR</h1>
            <p class="fw-bold text-end mb-5">CONHEÇA A FERRAMENTA QUE VAMOS USAR NO CURSO!</p>

            <div class="d-flex flex-column justify-content-end mt-5 p-5">
                <h2 class="text-green text-uppercase fw-bold">Saiba aonde você quer chegar​</h2>
                <p>Walkr calcula o valor de todos os seus sonhos e metas: a partir daí, funciona como um GPS da sua vida
                    financeira, indicando o caminho para você conquistar o que quer e precisa agora, sem prejudicar sua
                    independência financeira no futuro..</p>
                <h2 class="text-green text-uppercase fw-bold">Saiba quanto poupar
                </h2>
                <p>Com base em seus dados de renda e custo fixo, calculamos quanto você pode poupar e mostramos se é
                    suficiente para chegar ao seu número (objetivos específicos + aposentadoria). Com isso, você sabe
                    exatamente quanto deve guardar por mês.</p>
                <h2 class="text-green text-uppercase fw-bold">Assuma o controle dos investimentos
                </h2>
                <p>Walkr mostra exatamente quanto sua carteira de investimentos precisa render para alcançar o seu
                    número.
                    5% ao ano? 10% ao ano? Com essas informações, fica mais fácil decidir onde investir e quais riscos
                    você
                    está disposto a correr.</p>
            </div>
            <div class="col-md-1"></div>

        </div>
    </div>
</section>