<section class="container pt-5 pb-5  text-white">
    <h2 class="fs-2 text-center fw-bold mt-5 mb-5 text-uppercase">
        A
        <span class="text-green">
            grande maioria
        </span>
        das pessoas, não
        tem problemas em fazer dinheiro e
        sim em o que fazer com o
        <span class="text-green">
            dinheiro
        </span>
        que ganha, investem mal, ficam
        <span class="text-green">
            dependentes
        </span>
        de agentes e
        consultores.
    </h2>

    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-8 gap-4 d-flex flex-column align-items-start justify-content-center">
            <div class="d-flex">
                <img class="me-3" src="https://landing-vendas.s3.amazonaws.com/landing-fria/icons/losangle.svg"
                    alt="losangle.svg">
                <p>
                    Não sabem investir.
                </p>
            </div>
            <div class="d-flex">

                <img class="me-3" src="https://landing-vendas.s3.amazonaws.com/landing-fria/icons/losangle.svg"
                    alt="losangle.svg">
                <p>
                    Não TEM planejamento financeiro.
                </p>
            </div>

            <div class="d-flex">

                <img class="me-3" src="https://landing-vendas.s3.amazonaws.com/landing-fria/icons/losangle.svg"
                    alt="losangle.svg">
                <p>
                    Não tem metas traçadas e
                    objetivos específicos.
                </p>
            </div>
            <div class="d-flex">

                <img class="me-3" src="https://landing-vendas.s3.amazonaws.com/landing-fria/icons/losangle.svg"
                    alt="losangle.svg">
                <p>
                    Não sabem analisar os seus gastos.

                </p>
            </div>
            <div class="d-flex">
                <img class="me-3" src="https://landing-vendas.s3.amazonaws.com/landing-fria/icons/losangle.svg"
                    alt="losangle.svg">
                <p>
                    E você não pode terceirizar o seu
                    futuro para alguém que não está
                    nem 1% preocupado com o
                    planejamento que você fez para
                    sua vida.
                </p>
            </div>
        </div>
        <div class="col-md-4 d-md-flex d-none">
            <img src="https://landing-vendas.s3.amazonaws.com/landing-fria/mauro-phone.png" alt="mauro-phone.png">
        </div>
    </div>
</section>