<section class="bg-feedback text-light-blue pt-5 pb-5">
    <div class="container">

        <h2 class="display-5 text-start faq faq-title fw-bold mt-5 mb-5 pb-5">DEPOIMENTOS</h2>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-flex gap-3">
                        <div class="bg-white d-flex flex-column align-items-center p-1">
                            <img width="80" class="mt-4"
                                src="https://walkr.app/wp-content/uploads/2022/09/depoimento-walkr.png"
                                alt="depoimento-walkr.png">
                            <p class="text-dark mt-5 mb-5">Quanto em rendimento você precisa para alcançar os seus
                                sonhos?
                                Qual é o número da sua vida? Caso
                                não saiba responder, tudo bem! Eu também não soube. O Walkr te dá respostas à perguntas
                                que
                                você
                                nem mesmo pensava existir... Em poucas palavras? Ele respondeu para mim o necessário que
                                eu
                                nem
                                mesmo me atentei em enxergar</p>
                            <p class="text-blue fw-bold">Davi Speck</p>
                        </div>
                        <div class="bg-white d-flex flex-column align-items-center p-1">
                            <img width="80" class="mt-4"
                                src="https://walkr.app/wp-content/uploads/2022/09/depoimento-walkr.png"
                                alt="depoimento-walkr.png">
                            <p class="text-dark mt-5 mb-5">Quanto em rendimento você precisa para alcançar os seus
                                sonhos?
                                Qual é o número da sua vida? Caso
                                não saiba responder, tudo bem! Eu também não soube. O Walkr te dá respostas à perguntas
                                que
                                você
                                nem mesmo pensava existir... Em poucas palavras? Ele respondeu para mim o necessário que
                                eu
                                nem
                                mesmo me atentei em enxergar</p>
                            <p class="text-blue fw-bold">Davi Speck</p>
                        </div>
                        <div class="bg-white d-flex flex-column align-items-center p-1">
                            <img width="80" class="mt-4"
                                src="https://walkr.app/wp-content/uploads/2022/09/depoimento-walkr.png"
                                alt="depoimento-walkr.png">
                            <p class="text-dark mt-5 mb-5">Quanto em rendimento você precisa para alcançar os seus
                                sonhos?
                                Qual é o número da sua vida? Caso
                                não saiba responder, tudo bem! Eu também não soube. O Walkr te dá respostas à perguntas
                                que
                                você
                                nem mesmo pensava existir... Em poucas palavras? Ele respondeu para mim o necessário que
                                eu
                                nem
                                mesmo me atentei em enxergar</p>
                            <p class="text-blue fw-bold">Davi Speck</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex gap-3">
                        <div class="bg-white d-flex flex-column align-items-center p-1">
                            <img width="80" class="mt-4"
                                src="https://walkr.app/wp-content/uploads/2022/09/depoimento-walkr.png"
                                alt="depoimento-walkr.png">
                            <p class="text-dark mt-5 mb-5">Quanto em rendimento você precisa para alcançar os seus
                                sonhos?
                                Qual é o número da sua vida? Caso
                                não saiba responder, tudo bem! Eu também não soube. O Walkr te dá respostas à perguntas
                                que
                                você
                                nem mesmo pensava existir... Em poucas palavras? Ele respondeu para mim o necessário que
                                eu
                                nem
                                mesmo me atentei em enxergar</p>
                            <p class="text-blue fw-bold">Davi Speck</p>
                        </div>
                        <div class="bg-white d-flex flex-column align-items-center p-1">
                            <img width="80" class="mt-4"
                                src="https://walkr.app/wp-content/uploads/2022/09/depoimento-walkr.png"
                                alt="depoimento-walkr.png">
                            <p class="text-dark mt-5 mb-5">Quanto em rendimento você precisa para alcançar os seus
                                sonhos?
                                Qual é o número da sua vida? Caso
                                não saiba responder, tudo bem! Eu também não soube. O Walkr te dá respostas à perguntas
                                que
                                você
                                nem mesmo pensava existir... Em poucas palavras? Ele respondeu para mim o necessário que
                                eu
                                nem
                                mesmo me atentei em enxergar</p>
                            <p class="text-blue fw-bold">Davi Speck</p>
                        </div>
                        <div class="bg-white d-flex flex-column align-items-center p-1">
                            <img width="80" class="mt-4"
                                src="https://walkr.app/wp-content/uploads/2022/09/depoimento-walkr.png"
                                alt="depoimento-walkr.png">
                            <p class="text-dark mt-5 mb-5">Quanto em rendimento você precisa para alcançar os seus
                                sonhos?
                                Qual é o número da sua vida? Caso
                                não saiba responder, tudo bem! Eu também não soube. O Walkr te dá respostas à perguntas
                                que
                                você
                                nem mesmo pensava existir... Em poucas palavras? Ele respondeu para mim o necessário que
                                eu
                                nem
                                mesmo me atentei em enxergar</p>
                            <p class="text-blue fw-bold">Davi Speck</p>
                        </div>
                    </div>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>