<section class="pt-5 pb-5">
    <div class="container">

        <h1 class="text-white text-center fw-bold pb-5">O que estão falando do nosso <span
                class="text-green">Curso</span>?</h1>

        <div id="carouselFeedback" class="carousel slide d-none d-md-block" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center gap-3">
                        <div class="feedback-cards bg-white d-flex flex-column align-items-center p-1">
                            <img width="80" class="mt-4"
                                src="https://walkr.app/wp-content/uploads/2022/09/depoimento-walkr.png"
                                alt="depoimento-walkr.png">
                            <p class="text-dark text-center mt-5 mb-5">
                                “Me considero uma pessoa equilibrada nas minhas finanças pessoais, mas nunca consegui de
                                fato poupar para realizar meus sonhos e ter uma estabilidade no final da minha vida
                                profissional. O Walkr me mostrou como trilhar esse caminho, gerando respostas que me
                                deixaram muito confortáveis.“
                            </p>
                            <p class="text-blue fw-bold">Hugo Pires</p>
                        </div>
                        <div class="feedback-cards bg-white d-flex flex-column align-items-center p-1">
                            <img width="80" class="mt-4"
                                src="https://walkr.app/wp-content/uploads/2022/09/depoimento-walkr.png"
                                alt="depoimento-walkr.png">
                            <p class="text-dark text-center mt-5 mb-5">

                                “Nunca vi uma plataforma ou aplicativo que faz o que essa ferramenta faz! O Walkr
                                consegue trazer realmente o que eu preciso fazer para chegar nos seus objetivos, é bem
                                intuitivo e bem claro as informações. Ver que é possível chegar à onde eu quero e saber
                                o que tenho que fazer para isso é muito gratificante e animador!!!”
                            </p>
                            <p class="text-blue fw-bold">Lucas Carvalho</p>
                        </div>
                        <div class="feedback-cards bg-white d-flex flex-column align-items-center p-1">
                            <img width="80" class="mt-4"
                                src="https://walkr.app/wp-content/uploads/2022/09/depoimento-walkr.png"
                                alt="depoimento-walkr.png">
                            <p class="text-dark text-center mt-5 mb-5">

                                "Fiquei fascinado depois que conheci o Walkr, tive todas as respostas da minha vida
                                financeira, hoje consigo aplicar os meus recursos da forma correta. Agora sei que estou
                                no caminho certo para alcançar minha independência financeira."
                            </p>
                            <p class="text-blue fw-bold">Jadiel Áddson</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center gap-3">

                        <div class="feedback-cards bg-white d-flex flex-column align-items-center p-1">
                            <img width="80" class="mt-4"
                                src="https://walkr.app/wp-content/uploads/2022/09/depoimento-walkr.png"
                                alt="depoimento-walkr.png">
                            <p class="text-dark text-center mt-5 mb-5">
                                "Fiquei fascinado depois que conheci o Walkr, tive todas as respostas da minha vida
                                financeira, hoje consigo aplicar os meus recursos da forma correta. Agora sei que estou
                                no caminho certo para alcançar minha independência financeira." </p>
                            <p class="text-blue fw-bold">Rodrigo Oliveira</p>
                        </div>
                        <div class="feedback-cards bg-white d-flex flex-column align-items-center p-1">
                            <img width="80" class="mt-4"
                                src="https://walkr.app/wp-content/uploads/2022/09/depoimento-walkr.png"
                                alt="depoimento-walkr.png">
                            <p class="text-dark text-center mt-5 mb-5">
                                “Walkr me abriu os olhos para uma nova realidade econômica, percebi que minha educação
                                financeira tradicional estava completamente sem foco. O Walkr conseguiu consolidar todos
                                os meus sonhos em único número e me está me guiando exatamente como chegar lá!” </p>
                            <p class="text-blue fw-bold">Guilherme Cavallini</p>
                        </div>
                        <div class="feedback-cards bg-white d-flex flex-column align-items-center p-1">
                            <img width="80" class="mt-4"
                                src="https://walkr.app/wp-content/uploads/2022/09/depoimento-walkr.png"
                                alt="depoimento-walkr.png">
                            <p class="text-dark text-center mt-5 mb-5">
                                O Walkr ajuda até quem não precisa de ajuda! Consegui respostas que não achei em nenhum
                                outro lugar e agora tenho meu planejamento sem dores de cabeça. Super Recomendo! ”
                            </p>
                            <p class="text-blue fw-bold">Alexandre Oliveira</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="carouselFeedbackMobile" class="carousel slide d-md-none d-block" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center">
                        <div class="feedback-cards bg-white d-flex flex-column align-items-center p-1">
                            <img width="80" class="mt-4"
                                src="https://walkr.app/wp-content/uploads/2022/09/depoimento-walkr.png"
                                alt="depoimento-walkr.png">
                            <p class="text-dark text-center text-center mt-5 mb-5">
                                “Nunca vi uma plataforma ou aplicativo que faz o que essa ferramenta faz! O Walkr
                                consegue trazer realmente o que eu preciso fazer para chegar nos seus objetivos, é bem
                                intuitivo e bem claro as informações. Ver que é possível chegar à onde eu quero e saber
                                o que tenho que fazer para isso é muito gratificante e animador!!!”
                            </p>
                            <p class="text-blue fw-bold">Lucas Carvalho</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <div class="feedback-cards bg-white d-flex flex-column align-items-center p-1">
                            <img width="80" class="mt-4"
                                src="https://walkr.app/wp-content/uploads/2022/09/depoimento-walkr.png"
                                alt="depoimento-walkr.png">
                            <p class="text-dark text-center mt-5 mb-5">
                        
                                "Fiquei fascinado depois que conheci o Walkr, tive todas as respostas da minha vida
                                financeira, hoje consigo aplicar os meus recursos da forma correta. Agora sei que estou
                                no caminho certo para alcançar minha independência financeira."
                            </p>
                            <p class="text-blue fw-bold">Jadiel Áddson</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <div class="feedback-cards bg-white d-flex flex-column align-items-center p-1">
                            <img width="80" class="mt-4"
                                src="https://walkr.app/wp-content/uploads/2022/09/depoimento-walkr.png"
                                alt="depoimento-walkr.png">
                            <p class="text-dark text-center mt-5 mb-5">
                                “Walkr me abriu os olhos para uma nova realidade econômica, percebi que minha educação
                                financeira tradicional estava completamente sem foco. O Walkr conseguiu consolidar todos
                                os meus sonhos em único número e me está me guiando exatamente como chegar lá!” </p>
                            <p class="text-blue fw-bold">Guilherme Cavallini</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <div class="feedback-cards bg-white d-flex flex-column align-items-center p-1">
                            <img width="80" class="mt-4"
                                src="https://walkr.app/wp-content/uploads/2022/09/depoimento-walkr.png"
                                alt="depoimento-walkr.png">
                            <p class="text-dark text-center mt-5 mb-5">
                                O Walkr ajuda até quem não precisa de ajuda! Consegui respostas que não achei em nenhum
                                outro lugar e agora tenho meu planejamento sem dores de cabeça. Super Recomendo! ”
                            </p>
                            <p class="text-blue fw-bold">Alexandre Oliveira</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <div class="feedback-cards bg-white d-flex flex-column align-items-center p-1">
                            <img width="80" class="mt-4"
                                src="https://walkr.app/wp-content/uploads/2022/09/depoimento-walkr.png"
                                alt="depoimento-walkr.png">
                            <p class="text-dark text-center mt-5 mb-5">
                                “Me considero uma pessoa equilibrada nas minhas finanças pessoais, mas nunca consegui de
                                fato poupar para realizar meus sonhos e ter uma estabilidade no final da minha vida
                                profissional. O Walkr me mostrou como trilhar esse caminho, gerando respostas que me
                                deixaram muito confortáveis.“
                            </p>
                            <p class="text-blue fw-bold">Hugo Pires</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <div class="feedback-cards bg-white d-flex flex-column align-items-center p-1">
                            <img width="80" class="mt-4"
                                src="https://walkr.app/wp-content/uploads/2022/09/depoimento-walkr.png"
                                alt="depoimento-walkr.png">
                            <p class="text-dark text-center mt-5 mb-5">
                                "Fiquei fascinado depois que conheci o Walkr, tive todas as respostas da minha vida
                                financeira, hoje consigo aplicar os meus recursos da forma correta. Agora sei que estou
                                no caminho certo para alcançar minha independência financeira." </p>
                            <p class="text-blue fw-bold">Rodrigo Oliveira</p>
                        </div> 
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselFeedbackMobile" data-bs-slide="prev">
                    <span class="text-green display-1 me-4"><</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselFeedbackMobile" data-bs-slide="next">
                    <span class="text-green display-1 ms-4">></span>
                </button>
            </div>
        </div>

    </div>
</section>