<section class="text-white pt-5 pb-5 bg-mauro">
    <div class="container pt-5 pb-5 mt-5 mb-5">
        <h2 class="display-5 text-green fw-bold mt-5">QUEM É MAURO CHUAIRI?</h2>
        <div class="row mt-5 pb-5">
            <div class="col-md-6 mt-3 fw-bold text-uppercase">
                <p class="fs-5">Atuo no mercado financeiro
                    <span class="text-green">
                        há mais de 15 anos
                    </span>
                    e dediquei toda essa trajetória profissional a
                    <span class="text-green">
                        transformar a vida dos meus clientes.
                    </span>
                    Foi em busca desse propósito que eu tive acesso a um
                    <span class="text-green">
                        método
                    </span>
                    usado há décadas pelos grandes gestores em todo o mundo. É algo que pode
                    <span class="text-green">
                        transformar
                    </span>
                    rapidamente
                    qualquer pessoa em acumuladora de
                    <span class="text-green">
                        riqueza
                    </span>
                    mesmo que essa não
                    entenda nada de
                    <span class="text-green">
                        finanças e investimentos.
                    </span>
                </p>

                <a class="btn btn-green text-white rounded-pill fw-bold ps-4 pe-4 pt-2 pb-2 mt-5" href="#subscription">
                    GARANTIR MINHA INSCRIÇÃO                    
                </a>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</section>