<section class="text-white pt-5  pb-5">
    <div class="container pb-5 pt-5 mt-5 mb-5 bg-gray rounded">
        <div class="row d-flex align-items-center">
            <div class="col-md-8 d-flex flex-column justify-content-center align-items-sm-center align-items-center align-items-md-start">
                <h1 class="text-blue fw-bold mt-5 text-uppercase">QUEM É MAURO CHUAIRI?</h1>

                <p class="fs-5 text-blue mt-4">Atuo no mercado financeiro há mais de 15 anos e dediquei toda essa trajetória
                    profissional a transformar a vida dos meus clientes. Foi em busca desse propósito que eu tive acesso a um
                    método usado há décadas pelos grandes gestores em todo o mundo. É algo que pode transformar rapidamente
                    qualquer pessoa em acumuladora de riqueza mesmo que essa não entenda nada de finanças e investimentos.
                </p>
        
                <div class="d-flex justify-content-md-start justify-content-sm-center">
                    <a class="mb-3 btn btn-green text-white fw-bold ps-4 pe-4 pt-2 pb-2  fs-5" href="#subscription">
                        GARANTIR MINHA INSCRIÇÃO
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src=" https://landing-vendas.s3.amazonaws.com/landing-fria/mauro-entrevista.png" alt="">
            </div>
        </div>
     
    </div>

    </div>
    </div>
</section>