<section class="bg-gray text-light-blue pt-5 pb-5">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-center pt-5 pb-5">
            <div class="col-md-6">
                <img class="img-notebook img-fluid" src="https://landing-vendas.s3.amazonaws.com/landing-fria/notebook.png" alt="notebook.png">
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-md-start">
                <h2 class="text-blue text-center fs-2 fw-bold mb-4">Para quem é o método?</h2>
                <div class="text-blue d-flex align-items-center pt-3 pb-3 rounded">
                    <img src="https://landing-vendas.s3.amazonaws.com/landing-fria/icons/losangle.svg"
                        alt="losangle.svg">
                    <p class="ms-3 mb-0">Para quem quer fazer a carteira ter rendimentos maiores.</p>
                </div>
                <div class="text-blue d-flex align-items-center pt-3 pb-3 rounded">
                    <img src="https://landing-vendas.s3.amazonaws.com/landing-fria/icons/losangle.svg"
                        alt="losangle.svg">
                    <p class="ms-3 mb-0">Para quem quer aproveitar a vida e não ficar se matando de trabalhar</p>
                </div>
                <div class="text-blue d-flex align-items-center pt-3 pb-3 rounded">
                    <img src="https://landing-vendas.s3.amazonaws.com/landing-fria/icons/losangle.svg"
                        alt="losangle.svg">
                    <p class="ms-3 mb-0">para quem não quer depender de terceiros para cuidar do seu dinheiro.</p>
                </div>
            </div>
        </div>
    </div>
</section>