<section class="bg-gray pt-5 pb-5">
    <div class="row container-fluid">
        <div class="col-md-6 d-md-flex d-none flex-column justify-content-center align-items-center">
            <img class="img-fluid" src="https://landing-vendas.s3.amazonaws.com/landing-fria/metodo.png"
                alt="metodo.png">
        </div>

        <div class="col-md-6 d-md-none d-flex justify-content-center">
            <img class="img-fluid" src="https://landing-vendas.s3.amazonaws.com/landing-fria/logo-rounded.svg"
                alt="logo-rounded.svg">
        </div>

        <div class="mt-4 col-md-5 text-blue gap-5 d-flex flex-column justify-content-center align-items-start">
            <div class="d-flex justify-content-center align-items-center gap-4">
                <img class="d-md-none" src="https://landing-vendas.s3.amazonaws.com/landing-fria/renda.svg" alt="renda.svg">
                <p>
                    Fazer a carteira render
                    Depois de desenhado o seu
                    projeto de vida, você terá um plano prático para ter rendimentos
                    a longo, médio e curto prazo.
                </p>
            </div>
            <div class="d-flex justify-content-center align-items-center gap-4">
                <img class="d-md-none" src="https://landing-vendas.s3.amazonaws.com/landing-fria/poupar.svg" alt="poupar.svg">
                <p>
                    Você pode poupar do jeito certo e construir um projeto de vida, sem que ninguém fale para você o que
                    precisa fazer com o seu dinheiro.
                </p>
            </div>
            <div class="d-flex justify-content-center align-items-center gap-4">
                <img class="d-md-none" src="https://landing-vendas.s3.amazonaws.com/landing-fria/tempo.svg" alt="tempo.svg">
                <p>
                    Fazer o tempo trabalhar a seu favor, você terá um plano de vida personalizado onde conseguirá traçar
                    uma
                    estratégia para POUPAR no curto, médio e longo prazo.
                </p>
            </div>
            <div class="d-flex justify-content-center align-items-center gap-4">
                <img class="d-md-none" src="https://landing-vendas.s3.amazonaws.com/landing-fria/patrimonio.svg" alt="patrimonio.svg">
                <p>
                    Saber o momento que está para construir um projeto de vida para chegar no seu objetivo.
                </p>
            </div>

        </div>
        <div class="col-md-1"></div>

    </div>
</section>