<section class="text-white pt-5 pb-5 bg-module position-relative">
    <h2 class="display-5 text-center fw-bold mt-5 mb-5 pb-5">AO QUE VOCÊ VAI TER ACESSO NO CURSO?</h2>

    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-3 d-flex flex-column align-items-center justify-content-center bg-modules">
            <h2 class="fw-bold">MÓDULO</h2>
            <h1 class="display-1 fw-bold">1</h1>
            <p class="mt-5 text-center">DECIFRANDO O <br>
                PROTOCOLOR  FINANCEIRO <br>
                DE SUCESSO</p>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center justify-content-center bg-modules">
            <h2 class="fw-bold">MÓDULO</h2>
            <h1 class="display-1 fw-bold">2</h1>
            <p class="mt-5 text-center">MONTANDO O SEU <br>
                PROJETO DE VIDA <br>
                FINANCEIRO</p>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center justify-content-center bg-modules">
            <h2 class="fw-bold">MÓDULO</h2>
            <h1 class="display-1 fw-bold">3</h1>
            <p class="mt-5 text-center">Resete sua Mente: <br>
                As únicas 3 coisas <br> 
                que realmente importam</p>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center justify-content-center bg-modules">
            <h2 class="fw-bold">MÓDULO</h2>
            <h1 class="display-1 fw-bold">4</h1>
            <p class="mt-5 text-center">Aprendendo a <br>
                monitorar sua <br>
                carteira de <br> investimentos</p>
        </div>
    </div>
</section>
