<section class="text-white pt-5 pb-5 bg-module position-relative">
    <h2 class="display-5 text-center fw-bold mt-5 mb-5 pb-5">AO QUE VOCÊ VAI TER ACESSO NO CURSO?</h2>

    <div class="row d-md-flex d-none justify-content-center align-items-center gap-5">
        <div class="col-md-3 d-flex flex-column align-items-center justify-content-center bg-modules-1">
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center justify-content-center bg-modules-2">
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center justify-content-center bg-modules-3">
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center justify-content-center bg-modules-4">
        </div>
    </div>

    <div id="carouselModules" class="carousel slide d-md-none" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex justify-content-center">
                    <img src="https://landing-vendas.s3.amazonaws.com/landing-fria/module1.png" alt="module1.png">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <img src="https://landing-vendas.s3.amazonaws.com/landing-fria/module2.png" alt="module2.png">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <img src="https://landing-vendas.s3.amazonaws.com/landing-fria/module3.png" alt="module3.png">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <img src="https://landing-vendas.s3.amazonaws.com/landing-fria/module4.png" alt="module4.png">
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselModules" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselModules" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</section>