<section class="text-white pt-5 pb-5 bg-onevalue position-relative ">

    <div class="text-gray text-center mt-5">
        <p class="fs-5 fw-bold pb-0">
            COM O MÉTODO
        </p>
        <img class="img-fluid mw-400 img-mobile" src="https://landing-vendas.s3.amazonaws.com/landing-fria/icons/text-onevalue.svg" alt="text-onevalue.svg">
        <p class="fs-5 fw-bold mt-2">
            VOCÊ VAI APRENDER:
        </p>
    </div>

    <div class="container d-md-flex d-none justify-content-center align-items-center mt-5 ">
        <img class="img-fluid mw-800" src="https://landing-vendas.s3.amazonaws.com/landing-fria/cards-onevalue.svg" alt="cards-onevalue.svg">
    </div>

    <div id="carouselOnevalue" class="carousel slide d-md-none" data-bs-ride="carousel">
        <div class="carousel-inner ">
            <div class="carousel-item active">
                <div class="d-flex justify-content-center">
                    <img class="img-fluid img-mobile ms-4" src="https://landing-vendas.s3.amazonaws.com/landing-fria/first.svg" alt="module1.svg">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <img class="img-fluid img-mobile ms-4" src="https://landing-vendas.s3.amazonaws.com/landing-fria/second.svg" alt="module2.svg">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <img class="img-fluid img-mobile ms-4" src="https://landing-vendas.s3.amazonaws.com/landing-fria/third.svg" alt="module3.svg">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <img class="img-fluid img-mobile" src="https://landing-vendas.s3.amazonaws.com/landing-fria/fourth.svg" alt="module4.svg">
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselOnevalue" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselOnevalue" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>