<section class="text-white pt-5 pb-5 bg-onevalue position-relative">
    <div class="container d-flex justify-content-center align-items-center mt-5 mb-5">
        <img width="600" src="https://landing-vendas.s3.amazonaws.com/landing-fria/MANDALA.svg" alt="MANDALA.svg">
    </div>
</section>