<section id="satisfaction" class="text-white pt-5 pb-5 bg-satisfaction position-relative">
    <div class="container-fluid">

        <div class="row d-flex align-items-center">
            <div class="col-md-6 d-flex justify-content-center">
                <img src="https://landing-vendas.s3.amazonaws.com/landing-fria/7dias.svg" alt="7dias.svg">
            </div>
            <div class="col-md-6 d-flex text-blue ">
                <div class="d-block">
                    <h2 class="text-start text-sm-center fw-bold fs-1 text-uppercase">Isso mesmo! Você tem uma garantia!
                    </h2>
                    <p class="mt-5 fs-5">incondicional de 7 dias! Ou seja, dentro dos primeiros 7 dias, se você
                        entender que o Método onevalue não é para você, basta pedir reembolso que devolvemos todo o
                        valor
                        investido. É RISCO ZERO para você!
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>