<section id="subscription" class="bg-ny text-white pt-5 pb-5 d-flex justify-content-center align-items-center position-relative">
    <div class="border-green mt-5 mb-5 text-center ps-3 pe-3">
        <h1 class="fw-bold display-3 mt-5">TENHA ACESSO IMEDIATO</h1>
        <h2 class="fw-bold fs-4">+ BÔNUS INCRÍVEIS AO MÉTODO</h2>

        <p class="mt-5 fs-5 mb-0">12x R$29,90 ou</p>

        <span class="text-green fs-1 fw-bold">R$</span>
        <span class="text-green fs-30 fw-bold">299</span>
        <span class="text-green fs-1 fw-bold">,00</span>

        <div class="d-block mb-5 mt-4">
            <a href="https://pay.kiwify.com.br/535UEjU" target="_blank" class="btn btn-green rounded-pill fw-bold ps-5 pe-5 fs-5 text-white">FAZER MINHA INSCRIÇÃO</a>
        </div>
    </div>
</section>