<section id="subscription"
    class="bg-subscribe text-white pt-5 pb-5 d-flex justify-content-center align-items-center position-relative">
    <div class="container w-100 mt-5 mb-5 text-center ps-3 pe-3">

        <h2 class="fw-bold fs-1 text-green ">Veja tudo que você terá acesso:</h2>

        <img class="mb-5 mt-5 img-fluid mobile" src="https://landing-vendas.s3.amazonaws.com/landing-fria/access.svg" alt="access.svg">
        <div class="desktop fw-bold pt-4 pb-4">
            <p>Método OneValue: <span class="text-green">R$997,00</span></p>
            <p>Planilhas, guias e materiais práticos: <span class="text-green">R$500,00</span></p>
        </div>


        <h2 class="fw-bold fs-1">No total isso tudo custaria:</h2>
        <h2 class="fw-bold fs-1 text-green">R$1.497</h2>

        <img class="mt-5 mb-5 img-fluid" src="https://landing-vendas.s3.amazonaws.com/landing-fria/iphone.png" alt="iphone.png">

        <h2 class="fw-bold fs-1 text-green">OFERTA ESPECIAL</h2>

        <p class="mt-5 fs-5 fw-bold mb-0 text-decoration-line-through">
            De:
            <span>R$1.497</span>
        </p>

        <h2 class="display-4 fw-bold"> Por: 12x de R$29,90</h2>

        <p class="mt-0 fs-5 mb-3">ou à vista R$297,00</p>

        <div class="d-block mb-3 mt-4">
            <a href="https://pay.kiwify.com.br/535UEjU" target="_blank"
                class="p-  3 w-100 btn btn-green rounded fw-bold ps-5 pe-5 fs-5 text-white ">SIM, QUERO MEU ACESSO
                AGORA</a>
        </div>

        <img class="img-fluid" src="https://landing-vendas.s3.amazonaws.com/landing-fria/cards.png" alt="cards.png">
    </div>
</section>