<nav class="pt-2 pb-1 d-flex position-fixed justify-content-around align-items-center w-100 header-fixed">
    <img class="mw-350 img-fluid" width="180" src="https://landing-vendas.s3.amazonaws.com/marca.svg"
        alt="onevalue.svg">
    <a href="#subscription" class="text-mobile btn btn-green rounded ps-3 pe-3 pt-2 pb-2 text-white ls">
        INSCREVA-SE AGORA
    </a>
</nav>

<section class="bg-header text-white pt-5 pb-5">
    <div class="container-fluid pt-5 mb-5 text-center">
        <h2 class="text-green fw-bold pt-5 title-mobile">
            O MÉTODO USADO CAPAZ DE ENRIQUECER QUALQUER PESSOA, MESMO QUEM NUNCA TENHA INVESTIDO ANTES.
        </h2>
        <p class="pt-5 pb-5 fw-bold fs-4 subtitle-mobile container">
            Depois de construir um
            <span class="text-green">
                método patenteado
            </span>
            que fez
            <span class="text-green">
                milhares de famílias enriquecerem
            </span>
            (mesmo sem entenderem de investimento) eu quero te mostrar...
        </p>

        <div class="video p-5 container">
            <button class="btn-video" onclick="videoStatus()" id="btn-video"><img id="image-button" width="50"
                    src="https://landing-vendas.s3.amazonaws.com/landing-fria/icons/play.svg" alt=""></button>
            <button class="btn-sound" onclick="videoMute()" ><img id="btn-sound" width="30"
                    src="https://landing-vendas.s3.amazonaws.com/icons/Sound.svg" alt=""></button>
            <button class="btn-fullscreen" onclick="videoFullscreen()" id="btn-fullscreen"><img id="image-button" width="30"
                    src="https://landing-vendas.s3.amazonaws.com/icons/Full+Screen.svg" alt=""></button>
            <video playsInline poster="https://landing-vendas.s3.amazonaws.com/landing-fria/thumb-video.png" class="mh-100 mw-100"
                id="video">
                <source src="https://landing-vendas.s3.amazonaws.com/landing-fria/Boas+vindas.mp4">
            </video>
            <button class="btn-restart" onclick="restartVideo()" id="btn-restart">ASSISTIR NOVAMENTE?</button>
        </div>

        <a class="subtitle-mobile fs-2 btn btn-green text-white rounded fw-bold ps-4 pe-4 pt-2 pb-2 mt-5"
            href="#subscription">
            SIM, EU QUERO ENRIQUECER USANDO O MÉTODO
        </a>
    </div>
</section>