<nav class="pt-3 pb-3 d-flex position-fixed justify-content-around align-items-center w-100 header-fixed">
    <img class="mw-350" width="150" src="https://landing-vendas.s3.amazonaws.com/marca.svg" alt="onevalue.svg">
    <a href="#subscription"
        class="btn btn-green rounded ps-4 pe-4 pt-2 pb-2 text-white">
        INSCREVA-SE AGORA
    </a>
</nav>

<section class="bg-header text-white pt-5 pb-5">
    <div class="container pt-5 mb-5 text-center">
        <h3 class="pt-5 mt-5 fw-bold">
            DEPOIS DE CONSTRUIR UM
            <span class="text-green">
                MÉTODO PATENTEADO
            </span>
            QUE FEZ A MIM E
            <span class="text-green">
                MILHARES DE FAMÍLIAS SE ENRIQUECEREM
            </span>
            (MESMO SEM ENTENDER DE INVESTIMENTO) EU QUERO TE MOSTRAR...
        </h3>
        <h1 class="text-green fw-bold pt-5 display-5">
            O MÉTODO USADO CAPAZ DE ENRIQUECER QUALQUER <br> PESSOA, MESMO QUE NUNCA TENHA INVESTIDO ANTES.
        </h1>

        <a class="fs-2 btn btn-green text-white rounded fw-bold ps-4 pe-4 pt-2 pb-2 mt-5" href="#subscription">
            SIM, EU QUERO ENRIQUECER USANDO O MÉTODO
        </a>
    </div>
</section>