<nav class="pt-4 pb-3 d-flex position-fixed justify-content-around align-items-center w-100 header-fixed">
    <img class="mw-350 img-fluid" width="140" src="https://landing-vendas.s3.amazonaws.com/marca.svg"
        alt="onevalue.svg">
    <a href="#subscription" class="text-mobile btn btn-green rounded ps-3 pe-3 pt-2 pb-2 text-white ls">
        INSCREVA-SE AGORA
    </a>
</nav>

<section class="bg-header text-white pt-5 pb-5">
    <div class="container pt-5 mb-5 text-center">
        <h2 class="text-green fw-bold pt-5 title-mobile">
            O MÉTODO USADO CAPAZ DE ENRIQUECER QUALQUER PESSOA, MESMO QUE NUNCA TENHA INVESTIDO ANTES.
        </h2>
        <p class="pt-5 pb-5 fw-bold fs-4 subtitle-mobile">
            Depois de construir um
            <span class="text-green">
                método patenteado
            </span>
            que fez a mim e
            <span class="text-green">
                milhares de famílias se enriquecerem
            </span>
            (mesmo sem entender de investimento) eu quero te mostrar...
        </p>

        <div id="vid_633512e675d3ff00082233ec"
            style="position:relative;">
            <img id="thumb_633512e675d3ff00082233ec"
                src="https://images.converteai.net/a4fd98fe-8ae0-4b28-9261-149ffbc79d35/players/633512e675d3ff00082233ec/thumbnail.jpg"
                style="position:absolute;z-index: 3;top:0;left:0;object-fit:cover;display:block;">
            <div id="backdrop_633512e675d3ff00082233ec"
                style="position:absolute;top:0; z-index: 2;-webkit-backdrop-filter:blur(5px);backdrop-filter:blur(5px);">
            </div>
        </div>

        <a class="subtitle-mobile fs-2 btn btn-green text-white rounded fw-bold ps-4 pe-4 pt-2 pb-2 mt-5"
            href="#subscription">
            SIM, EU QUERO ENRIQUECER USANDO O MÉTODO
        </a>
    </div>
</section>