<section class="text-white pt-5 pb-5 bg-rocket2 position-relative">
    <div class="container">
        <h2 class="display-5 text-center text-blue fw-bold mt-5 mb-5 pb-5">E COMO PODEMOS <span
                class="text-green">RESOLVER</span> ?</h2>

        <div class="row">
            <div class="col-md-4 mt-4">
                <div class="cards bg-blue rounded text-center d-flex flex-column justify-content-center">
                    <p>Você pode poupar do jeito certo e construir um projeto de Vida, sem que ninguém fale para você
                        oque precisa fazer com o seu dinheiro.
                    </p>
                </div>
            </div>
            <div class="col-md-4 mt-4"></div>
            <div class="col-md-4 mt-4">
                <div class="cards bg-blue rounded text-center d-flex flex-column justify-content-center">
                    <p>A partir do momento que você constrói um projeto de vida claro, você pode ter certeza que os
                        riscos de não ter sua liberdade financeira caem vertiginosamente.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mt-4">
                <div class="cards bg-blue rounded text-center d-flex flex-column justify-content-center">
                    <p>Não depender de Terceiros para cuidar do seu dinheiro.</p>
                </div>
            </div>
            <div class="col-md-4 mt-4"></div>
            <div class="col-md-4 mt-4">
                <div class="cards bg-blue rounded text-center d-flex flex-column justify-content-center">
                    <p>Fazer a carteira render Depois de desenhado o seu projeto de vida, você terá um plano prático
                        para ter rendimentos a longo, médio e curto prazo.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mt-4">
                <div class="cards bg-blue rounded text-center d-flex flex-column justify-content-center">
                    <p>Não importa o seu nível de conhecimento você conseguirá aplicar o método.</p>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="cards bg-blue rounded text-center d-flex flex-column justify-content-center">
                    <p>Você pode através do projeto de vida construir metas e objetivos, fazendo com que o seu dinheiro
                        comece a trabalhar a seu favor e não mais contra.</p>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="cards bg-blue rounded text-center d-flex flex-column justify-content-center">
                    <p>Aproveitar a vida Você terá a tranquilidade de ver o seu dinheiro trabalhar a seu favor.</p>
                </div>
            </div>
        </div>
    </div>
</section>